{% extends "package/read_base.html" %}

{% block title %}
  {% if dashboard %}
    {{ _("Edit Dashboard") }}
  {% else %}
    {{ _("New Dashboard") }}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
<div class="container mt-4">
  <h1 class="mb-4">{{ _("Dashboard form") }}</h1>

  <form method="post">
    <div class="mb-3">
      <label for="dashboard_type" class="form-label">{{ _("Type of Dashboard") }}</label>
      <select name="dashboard_type" id="dashboard_type" class="form-control">
        <option value="tableau" {% if dashboard.dashboard_type == 'tableau' %}selected{% endif %}>Tableau</option>
        <option value="powerbi" {% if dashboard.dashboard_type == 'powerbi' %}selected{% endif %}>PowerBI</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="embeded_url" class="form-label">{{ _("* Embeded URL") }}</label>
      <input type="url" name="embeded_url" id="embeded_url" class="form-control"
            placeholder="Enter embed URL"
             {% if dashboard.embeded_url %}value="{{ dashboard.embeded_url }}"{% endif %}
             required>
    </div>
    <div class="mb-3">
      <label for="report_url" class="form-label">{{ _("Report URL") }}</label>
      <input type="url" name="report_url" id="report_url" class="form-control"
             placeholder="Enter report URL"
             {% if dashboard.report_url %}value="{{ dashboard.report_url }}"{% endif %}>
    </div>

    {% if dashboard %}
      <button type="submit" class="btn btn-primary">{{ _("Update") }}</button>
    {% else %}
      <button type="submit" class="btn btn-primary">{{ _("Create") }}</button>
    {% endif %}
  </form>

  {% if dashboard %}
    <form action="{{ url_for('embeded_dashboard.dashboard_delete', package_id=pkg_dict['id'], dashboard_id=dashboard.id) }}"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete this Dashboard?');"
          style="margin-top: 15px;">
      <button type="submit" class="btn btn-danger">{{ _("Delete Dashboard") }}</button>
    </form>
  {% endif %}
</div>
{% endblock %}
