{% extends "base.html" %}
{% block content %}
<h1>Dashboard Configurations</h1>
<a href="{{ h.url_for('dashboard_bp.dashboard_new') }}">Add new dashboard</a>
<ul>
  {% for d in dashboards %}
    <li>
      Dataset: {{ d.package_id }} -
      <a href="{{ h.url_for('dashboard_bp.dashboard_edit', dashboard_id=dashboard.id) }}">Edit</a>
      <form action="{{ h.url_for('dashboard_bp.dashboard_delete', dashboard_id=dashboard.id) }}" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>
{% endblock %}
